<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="UTF-8" />
    <style>
      br.pb {
          page-break-before: always;
      }
      body {
          font-family:"Arial";
          font-size: 10pt;
      }
      table, th, td {
          border: 1px solid black;
          vertical-align: top;
      }
      table {
          width: 190mm;
          border-collapse: collapse;
      }
      .centered {
          text-align:center;
      }
      .container {
          margin-left: auto;
          margin-right: auto;
          width:190mm;
      }
      
    </style>
  </head>
  <body>
    <div class="container">
      {% block content %} {% endblock %}
    </div>
  </body>
</html>
