{% extends 'base.html' %}
{% block content %}
<h1>{% block title %}{{data.getId()}} — Référentiel de formation{% endblock %}</h1>
<p>
  Semestres: {{data.getSemestres()|elegantjoin}}
</p>
<p>
  Parcours: {{data.getParcoursCanonical(data.getParcoursObjects())}}
{% for sem in data.getSemestres() %}
{% set ls=data.getSAEObjects(semestre=sem) %}
{% for sae in ls %}
<br class="pb" />{% include 'SAE-inc.html' %}
{% endfor %}
{% set ls=data.getRessourceObjects(semestre=sem) %}
{% for ress in ls %}
<br class="pb" />{% include 'Ressource-inc.html' %}
{% endfor %}
{% endfor %}
{% endblock %}